@import "../styles/globals.scss";

.ant-form-item-label {
    padding: 0 !important;
}

.ant-btn {
    font-weight: bold !important;
    border-radius: 4px !important;

    &.ant-btn-primary {
        background: $agriax-green !important;
        border-color: darken($agriax-green, 2%) !important;

        &:hover {
            background: lighten($agriax-green, 2%) !important;
        }
    }

    &.orange {
        background: $agriax-orange !important;
        border-color: darken($agriax-orange, 2%) !important;

        &:hover {
            background: lighten($agriax-orange, 2%) !important;
        }
    }

    &[disabled] {
        background: $grey !important;
        border-color: darken($grey, 2%) !important;

        &:hover {
            background: $grey !important;
        }
    }
}

.ant-upload {
    width: 100% !important;

    &:hover {
        border-color: $agriax-green !important;
    }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: $agriax-bright-green !important;
}

.ant-input,
.ant-picker,
.ant-select:not(.ant-select-disabled) .ant-select-selector {
    &:hover {
        border-color: $agriax-green !important;
    }
}

.ant-steps-item-process, .ant-steps-item-finish {
    .ant-steps-icon {
        color: $agriax-green !important;
    }
}

.agriax-green,
.ant-picker-today-btn,
.ant-spin,
.ant-spin-dot-item,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow,
.ant-menu-item-selected,
.ant-menu-item:hover,
.ant-menu-submenu-selected,
.ant-menu-submenu-title:hover,
.ant-tabs-tab-btn:hover,
.ant-btn-ghost:hover {
    color: $agriax-green !important;
}

a {
    color: $agriax-green !important;
    
    &:hover {
        color: lighten($agriax-green, 2%) !important;
    }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $agriax-green !important;
    font-weight: bold;
}

.ant-picker-cell-today {
    .ant-picker-cell-inner::before {
        border-color: darken($agriax-green, 10%) !important;
    }
}

.ant-radio-checked .ant-radio-inner,
.ant-menu-inline .ant-menu-item::after,
.ant-pagination-item-active,
.ant-btn-ghost:hover {
    border-color: $agriax-green !important;
}

.ant-radio-inner {
    &::after {
        background-color: $agriax-green !important;
    }
}

.ant-picker-cell-selected > .ant-picker-cell-inner,
.ant-steps-item-finish .ant-steps-item-title::after,
.ant-spin-dot-item {
    background: $agriax-green !important;
}

.ant-form-item-explain-error {
    text-align: left !important;
}

.agriax-error {
    color: $error-red !important;
}