@import "../../../../styles/globals.scss";

.container {
    @include flex-row-start;
    cursor: pointer;
    margin-bottom: 12px;
    transition: all 0.2s;

    &:hover {
        opacity: 0.8;
    }
}