@import "../../../../styles/globals.scss";

.page {
    @include app-page;
    background: $light-grey;
    min-height: 100vh;
    padding: 48px;
}

.header {
    max-width: 400px;
    margin-bottom: 24px;
}

.form {
    @include app-form;
    background: #FFFFFF;
    border: 1px solid $grey;
    border-radius: 4px;
    padding: 24px;
    text-align: left;
}

.formButton {
    @include flex-row-center;
}

.datePicker {
    height: 32px;
    width: 100%;
}

.uploadArea {
    font-size: 14px;
}

.labelTooltip {
    @include flex-row-center;
    font-size: 16px;
    margin-top: -6px;
    color: $agriax-green !important;
}

.rowCenter {
    @include flex-row-center;
}